.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ccc;
}

.background-green {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background-color: #1ea884;
}